@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
        .meme-img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <img src="~/path/to/your-meme.jpg" alt="Meme" class="meme-img">
        <button type="button" class="btn btn-info mt-3" onclick="showAlert()">Mostrar Alerta</button>
    </div>
    <script>
        function showAlert() {
            alert("Mi nombre es Leonardo Andrade y mi hobbie es Trabajar.");
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGz1t0a3/8gqgZr6C1LlFOM4ep1gkvJasrFZe5FZfJpHl" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"

</body>
</html>







<a href="c:\users\leonardo\source\repos\leonardoandradeexamenprogresoone_r\leonardoandradeexamenprogresoone_r\views\home\index.cshtml">c:\users\leonardo\source\repos\leonardoandradeexamenprogresoone_r\leonardoandradeexamenprogresoone_r\views\home\index.cshtml</a>

<div class="text-center">
    <h1> Bienven1dO a mi Examen Leonardo Andrade</h1>


</div>>
